!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Analytic Board

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

body
  article
    section.gray
      div
        img(src="img/analytic-board-logo.png")
      div.bt-right
        img(src="img/ingenio-solido-logo.png")
    section.blue
      h1 Jaime Andrés García
      h2 CEO Ingenio Sólido - Analytic Board
      h2 Magister en Ingeniería Administrativa
      h2 Experto en Visualización de Datos y Toma de Decisiones
      h2 Correo: jaimegarcia@analyticboard.com
    section.adictos
      .tint
        h2 La tecnología se ha vuelto muy importante en nuestra vida y en nuestras organizaciones
    section.blue
      h1 Constantemente nos enfretamos al reto seleccionar opciones tecnológicas
      h2 - Sistema de Gestión Administrativa
      h2 - Motor de Base de Datos
      h2 - Servidor de Infraestructura
      h2 - Un Proveedor Tecnológico
      h2 - Solución documental
    section.complejo
      .tint
        h2 Sin embargo, el proceso se ha vuelto complejo
    section.white
      h2 Incremento del número de opciones tecnológicas y su complejidad
      img(src="img/mario-alternativas.png",style="width:60%")
    section.light-gray
      h2 Nube de Alternativas de Software
      iframe(src='iframes/index.html',scrolling="no", height='100%', width='100%',style="border:0px")
    section.white
      h2 Poca diferenciación entre algunas de las opciones
      img(src="img/mermelada-alternativas.png",style="width:50%")
    section.white
      h2 Falta de claridad en las especificaciones
      img(src="img/celulares-alternativas.png",style="width:50%")
    section.white
      h2 La información para la toma de decisiones es imprecisa e insuficiente
      img(src="img/imprecision.png",style="width:50%")
    section.white
      h2 Las personas que seleccionan la tecnología, lo hacen de forma subjetiva
      img(src="img/subjetivo.png",style="width:50%")
    section.white
      h2 Fanboys - Fangirls
      img(src="img/fanboys.jpg",style="width:50%")
    section.white
      h2 Las tecnología está evolucionando constantemente
      img(src="img/technology-evolution.jpg",style="width:50%")
    section.light-gray
      h2 El caso HD DVD vs Blu-ray
      iframe(src='iframes/hdvd-bluray.html',scrolling="no", height='100%', width='100%',style="border:0px")
    section.red
      h1 Problemas en el proceso de selección
      h2 - Número de opciones
      h2 - Diferenciación y entendimiento de las opciones
      h2 - Información insuficiente e imprecisa
      h2 - Subjetividad
      h2 - Evolución de la tecnología (Decisión dinámica)
    section.red
      h1 Hay una solución para contrarrestar estos problemas ...
    section.green
      h1 Pero antes de revisar la metodología, pongámonos de acuerdo en algunos conceptos
    section.blue
      h1 Seleccionar Tecnología
      h2 Escoger la "mejor" tecnología dentro de un número de alternativas
      h2 Los criterios para considerar una tecnología "mejor" dependen de los decisores
    section.blue
      h1 Historia de Usuario
      h2 Representación de una necesidad en el lenguaje del usuario
      h2 Como (rol) quiero (algo) para poder (beneficio)
    section.white
      h1 Story Mapping (Jeff Patton)
      img(src="img/story-mapping.png",style="width:60%")
    section.white
      h2 Arquitectura Evolutiva
      img(src="img/phonebloks.jpg",style="width:50%")
    section.white
      h2 Behaviour-Driven Development (Dan North)
      img(src="img/bdd.png",style="width:60%")
    section.white
      h2 Escenarios - BDD
      img(src="img/scenarios.png",style="width:60%")
    section.white
      h2 Selección Ágil de Software
      img(src="img/coordenadas.png",style="width:100%")
    section.green
      h1 Primero, ten en cuenta lo siguiente
      h2 - Te vas a equivocar
      h2 - Decide tan tarde como sea posible (Last Responsible moment)
      h2 - No te cases con una tecnología o si te casas adquiere compromiso con su desarrollo
    section.white
      h2 2. Identifique las historias de usuario que debe satisfacer el software o librería
      h3 (Story Mapping - Backlog)
      img(src="img/story-mapping-seleccionado.png",style="width:65%")
    section.blue
      h2 3. Determinar las historias de usuario y escenarios críticos  (Requísitos Mínimos)
      h2
        br
      h2 4. Determinar funcionalidades y características deseables (Criterios Flexibles)
    section.white
      h2 5.BDD en Requisitos Mínimos
      img(src="img/BDD-Seleccion-Agil.png",style="width:65%")
    section.white
      h2 6. Método Interactivo Criterios Flexibles
      iframe(src='iframes/par-coord-tech-select-es/index.html',scrolling="no", height='100%', width='100%',style="border:0px")
    section.blue
      h1 7.Ante un cambio tecnológico, se aplican todos los escenarios de BDD y se Actualiza el Método interactivo
    section.life
      .tint
          h1 Analytic Board
          h2 Dele Vida a su Conocimiento
          h2 Gracias por su atención

  script(src='bower_components/bespoke.js/dist/bespoke.min.js')
  script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
  script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
  script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
  script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
  script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
  script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
  script(src='bower_components/prism/prism.js')
  script(src='scripts/main.js')
