!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Analytic Board

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

body
  article
    section.gray
      div
        img(src="img/analytic-board-logo.png")
      div.bt-right
        img(src="img/ingenio-solido-logo.png")
    section.green
      h1 Jaime Andrés García
      h2 CEO Ingenio Sólido - Analytic Board
      h2 Magister en Ingeniería Administrativa
      h2 Experto en Visualización de Datos y Toma de Decisiones
      h2 Correo: jaimegarcia@analyticboard.com
      h2 Celular: 300 269 96 53
    section.adictos
      .tint
        h2 La tecnología se ha vuelto muy importante en nuestra vida y en nuestras organizaciones
    section.blue
      h1 Constantemente nos enfretamos al reto seleccionar opciones tecnológicas
      h2 - Sistema de Gestión Administrativa
      h2 - Motor de Base de Datos
      h2 - Servidor de Infraestructura
      h2 - Un Proveedor Tecnológico
      h2 - Solución documental
    section.complejo
      .tint
        h2 Sin embargo, el proceso se ha vuelto complejo
    section.white
      h2 Incremento del número de opciones tecnológicas y su complejidad
      img(src="img/mario-alternativas.png",style="width:60%")
    section.white
      h2 Poca diferenciación entre algunas de las opciones
      img(src="img/mermelada-alternativas.png",style="width:50%")
    section.white
      h2 Falta de claridad en las especificaciones
      img(src="img/celulares-alternativas.png",style="width:50%")
    section.white
      h2 La información para la toma de decisiones es imprecisa e insuficiente
      img(src="img/imprecision.png",style="width:50%")
    section.white
      h2 Las personas que seleccionan la tecnología, lo hacen de forma subjetiva
      img(src="img/subjetivo.png",style="width:50%")
    section.white
      h2 Fanboys - Fangirls
      img(src="img/fanboys.jpg",style="width:50%")
    section.white
      h2 Las tecnología está evolucionando constantemente
      img(src="img/technology-evolution.jpg",style="width:50%")
    section.red
      h1 Hay una solución para contrarrestar estos problemas ...
    section.white
      h2 El uso de metodologías formales de decisión
      img(src="img/decision-tree.png",style="width:60%")
    section.blue
      h1 Beneficios del uso de metodologías formales de decisión
      h2 - Disminución de la subjetividad - Evaluación imparcial
      h2 - Manejo de la complejidad
      h2 - Hace visibile las imprecisiones e inconsistencias
      h2 - Sirve de soporte a la hora de que se realice una auditoría
    section.white
      h1 Una de las más populares es la AHP
      img(src="img/ahp.png",style="width:50%")
    section.red
      h1 Sin embargo, es difícil de implementar...
    section.blue
      h1 Entonces, cuál es la solución
    section.white
      h2 Métodos de Decisión + Visualización = Analytic Board
      img(src="img/seleccion.png",style="width:100%")
    section.red
      h1 Ejemplos en Vivo
    section.life
      .tint
          h1 Analytic Board
          h2 Dele Vida a su Conocimiento
          h2 Gracias por su atención

  script(src='bower_components/bespoke.js/dist/bespoke.min.js')
  script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
  script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
  script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
  script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
  script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
  script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
  script(src='bower_components/prism/prism.js')
  script(src='scripts/main.js')
